html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    background: url("https://dowley.com/wp-content/uploads/2015/06/Houston-skyline.jpg") center no-repeat;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}
h1 {
    margin-top: 10px;
}
input {
    border: 0;
    padding: 10px;
    font-size: 10px;
}
input[type="submit"] {
    background: red;
    color: white;
}
img {
    width:150px;
    height: 150px;
    border: 7px solid white;
    border-radius: 50%;
    margin:40px 0px 0px 0px;
  }
  ul {
    padding: 10px;
    color: white;
  }
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
  }